/*variables*/
$blueColor : #11749e;



*{
    margin: 0;
    padding: 0;
}

/*animation*/
@keyframes identifier {
  0%{
    vertical-align:70%;
    opacity: 0;
  }
  50%{
    vertical-align:0;
    opacity: 0.5;
  }
  100%{
    vertical-align: -120%;
    opacity: 1;
  }
}



body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font: 120px 'Roboto', sans-serif;
    color: #C0C0C0 ;
}

h2{
    font: 37px 'Roboto', sans-serif;
    text-transform: uppercase;
}

h3{
    font: 20px 'Roboto', sans-serif;
}


.square{
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    a{
        text-decoration: none;
        color: #808080;
        
    }
}

//mobile menu
.mobile{
    display: none;
}
/*HEADER*/
header{
    width: 100%;
    height: 100vh;
    background: url(../img/headerFon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    li{
        display: block;
        list-style-type: none;
        padding: 10px 20px;
    }
    
    a{
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        position: relative;
    }
    
}

.header-nav::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 55px;
    background: $blueColor;
}

.header-nav a:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top:42px;
    left:0px;
    background: #65c8f2;
    z-index: 2;
}

.header-caption{
    margin-top: 5%;
    text-transform: uppercase;
    color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        color: $blueColor;
        font-size: 25px;
    }
}

.scroll-down {
  color: #c0c0c0;
  font-size: 16px;
    display: flex;
  flex-direction:column;
  align-items: center;
   margin-top: 20%;
}

.arrow {
  display: flex;
  justify-content: center;
    margin-top: 10px;
  a {
      
    text-decoration: none;
    height: 40px;
    width: 40px;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    text-align:center;
  }
    i{
    color: #fff;
    font-size: 25px;
    animation:identifier 3s linear infinite;
  }
}

/*Our advantages*/

.ourAdvantages{
    background: $blueColor;
    color: #ffffff;
    padding: 30px 0 30px;
}

.ourAdvantages-logo{
    position: relative;
    display: flex;
   justify-content: center;
    h2{
        position: absolute;
        top:50px;
        text-align: center;
    }
    img{
        max-height: 176px;
        max-width: 185px;
    }
}



.ourAdvantages-table{
   text-align: center;
    i{
        font-size: 25px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: #2e85aa;
        padding: 16px 0 0 4px;
        margin: 20px 0;
        }
    h3{
        margin-bottom: 15px;
    }
}
    

/*Team news*/
.ourNews p{
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; 
    
}


.background-item1{
    background: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourNews-items{
    margin: 0px 5%;
}

.sprite-news{
    background: #c0c0c0;
    background: url(../img/90.gif);
}

.ourNews-images1 {
  background-position:0 0;
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 474px; 
}

.ourNews-images2 {
  background-position:0 -475px;
  background-repeat: no-repeat;
  max-height: 550px;
  max-width: 555px;
  width: 100%;
  height: 473px;
}

.background-item2{
    background: #f3f3f3;
    color: #5a5a5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Blog teams*/

.blog{
    background: #ffffff;
    text-align: center;
    padding: 40px 0;
    .blogLogo{
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items:center;
        margin-bottom: 20px;
        h2{
            position: absolute;
            top: 32%;
        }
    }
}



.blogLogo-text{
    font: 30px 'Roboto', sans-serif;
}

.blog-item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    p{
        text-align: left;
    }
    h3{
        text-transform: uppercase;
        font-size: 18px;
        margin: 20px 0;
        color:$blueColor;
        text-align: center;
    }
    .blog-sprite:hover{
        border: 1px solid black;
        opacity: 0.5;
    }
}
.blog-sprite{
    background: url(../img/82.gif);
}

.blog-item-images1{
    background-position: 0 0px;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    height: 280px;
    width: 270px;
}
.blog-item-images2{
    background-position: 0 -280px;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    height: 280px;
    width: 270px;
}
.blog-item-images3{
    background-position: 0 -560px;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    height: 280px;
    width: 270px;
}
.blog-item-images4{
    background-position: 0 0px;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    height: 280px;
    width: 270px;
}

/*Mail*/
.mail{
    width: 100%;
    background-image: url(../img/97.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-mail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 30px 0;
    text-align: center;
    h3{
        color: #ffffff;
        font:30px 'Roboto', sans-serif;
        position: absolute;
        top: 39%;
    }
    img{
        width: 150px;
        height: 180px;
    }
}

/*Form*/

.mail{
    padding: 30px 0;
}
.mail-form{
    input {
        width: 100%;
        height: 30px;
        margin: 20px 0;
        padding: 20px 20px;
        font: 15px 'Roboto', sans-serif;
        background: rgba(255,245,215,0);
        border: 1px solid #fff;
        color: #fff; 
        &:hover{
            border: 1px solid #6495ED;
        }
    }
    textarea{
        width: 100%;
        height: 90px;
        resize: none;
        margin-top: 20px;
        background: rgba(255,245,215,0);
        border: 1px solid #fff;
        color: #fff; 
        padding: 20px 15px;
        overflow: auto;
        &:hover{
            border: 1px solid #6495ED;
        }
    }
    button{
        display:block;
        text-align: center;
        margin: 20px auto;
        font-size: 20px;
        padding: 10px 5px;
        border-radius: 5px;
        background: $blueColor;
        border: 1px solid $blueColor;
        color: #ffffff;
        cursor: pointer;
    }
}


/*footer*/
footer{
    width: 100%;
    height: 100px;
    background: #222222;
    color: #ffffff;
    font: 15px 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}


