/* line 7, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

@keyframes animate1 {
  from {
    outline: 1px solid;
    outline-offset: 0px;
    box-shadow: inset 0 0 20px #FFF886,0 0 0 #FFF886;
    outline-color: #fff;
    outline-offset: 0px;
  }
  to {
    outline-offset: 15px;
    outline-color: #fff;
    box-shadow: inset 0 0 20px #F072B6, 0 0 100px #F072B6;
  }
}
/* line 27, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #fff;
  background-image: url(../img/top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 35, ../sass/style.scss */
.topBanner {
  width: 100%;
  height: 50px;
  color: #000;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* line 47, ../sass/style.scss */
.topBanner .topBanner_text {
  font: 20px Roboto ,sans-serif;
}

/* line 52, ../sass/style.scss */
.closed {
  display: none;
}

/* line 55, ../sass/style.scss */
.topBanner_closed {
  display: block;
  width: 38px;
  height: 38px;
  color: #fff;
  background: #78909C;
  border-radius: 50%;
  position: relative;
  margin-left: 5%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
/* line 66, ../sass/style.scss */
.topBanner_closed:hover {
  transform: translateY(5px);
}

/* line 70, ../sass/style.scss */
span, span::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 4px;
  background: #fff;
  transform: rotate(-45deg);
}

/* line 79, ../sass/style.scss */
span::after {
  content: "";
  transform: rotate(80deg);
}

/*hEADER*/
/* line 84, ../sass/style.scss */
.wrapper {
  width: 1230px;
  margin: 0 auto;
}

/* line 88, ../sass/style.scss */
header {
  display: flex;
  align-items: center;
  height: 30vh;
}

/* line 95, ../sass/style.scss */
.header_logo img {
  height: auto;
  width: 100%;
  max-width: 232px;
}

/* line 102, ../sass/style.scss */
.header_form {
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 7px 10px;
  background: #fff;
  border-radius: 7px;
  display: flex;
  align-content: center;
  align-items: center;
}
/* line 111, ../sass/style.scss */
.header_form .search_icon {
  font-size: 24px;
  margin-right: 10px;
  color: #CFD8DC;
}
/* line 117, ../sass/style.scss */
.header_form input {
  width: 270px;
  padding: 7px 7px;
  border: 1px solid #fff;
  color: #000;
  font-size: 14px;
}
/* line 124, ../sass/style.scss */
.header_form #header_button {
  color: #fff;
  background: #f88131;
  border: 1px solid #f88131;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 4px;
}

/* line 135, ../sass/style.scss */
.animation_button {
  animation: animate1 2s infinite  ease-in-out;
}

/* line 139, ../sass/style.scss */
.header_info {
  display: flex;
}
/* line 141, ../sass/style.scss */
.header_info .header_info_item {
  margin: 0 20px;
  color: #8184a1;
  position: relative;
  overflow: hidden;
}
/* line 146, ../sass/style.scss */
.header_info .header_info_item::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat;
  background-size: 70px 100%;
  transform: skewX(-50deg);
}
/* line 155, ../sass/style.scss */
.header_info .header_info_item:hover::after {
  transition: 2s linear;
  position: absolute;
  top: 100%;
  left: 100%;
}
/* line 159, ../sass/style.scss */
.header_info .header_info_item p {
  font-size: 16px;
  line-height: 1.4;
}
/* line 163, ../sass/style.scss */
.header_info .header_info_item a {
  color: #f88131;
}

/* line 170, ../sass/style.scss */
.nav-tabs {
  font-family: 'Open Sans', sans-serif;
  background: #edeef8;
  color: #8184a1;
  width: 100%;
}
/* line 175, ../sass/style.scss */
.nav-tabs ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
/* line 179, ../sass/style.scss */
.nav-tabs ul li {
  padding: 5px 10px;
  color: #8184a1;
}
/* line 182, ../sass/style.scss */
.nav-tabs ul li:hover, .nav-tabs ul li:hover > a {
  color: #fff;
  background: #8184a1;
  border-radius: 5px;
}
/* line 188, ../sass/style.scss */
.nav-tabs ul a {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #8184a1;
}
/* line 193, ../sass/style.scss */
.nav-tabs ul a::after {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  bottom: -10px;
  content: "";
  display: block;
  margin: 0 auto;
  transition: all 280ms ease-in-out;
  width: 0;
}
/* line 204, ../sass/style.scss */
.nav-tabs ul a::before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  top: -10px;
  content: "";
  display: block;
  margin: 0 auto;
  transition: all 280ms ease-in-out;
  width: 0;
}
/* line 215, ../sass/style.scss */
.nav-tabs ul a:hover::after, .nav-tabs ul a:hover::before {
  backface-visibility: hidden;
  border-color: #ffa000;
  transition: width 350ms ease-in-out;
  width: 70%;
}
/* line 221, ../sass/style.scss */
.nav-tabs ul a:hover::before {
  bottom: auto;
  top: -10px;
  width: 70%;
}

/* line 230, ../sass/style.scss */
.content {
  display: flex;
  flex-direction: row;
  align-content: center;
}

/* line 236, ../sass/style.scss */
aside {
  height: 600px;
  background: grey;
  width: 30%;
}

/* line 244, ../sass/style.scss */
.tabs_content {
  background: #ffffff;
  width: 70%;
  float: right;
  height: auto;
}

/* line 251, ../sass/style.scss */
.tab-pane {
  padding: 20px;
  background: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  display: none;
}

/* line 258, ../sass/style.scss */
.tab-open {
  display: block;
}

/* line 263, ../sass/style.scss */
.slider {
  position: relative;
  width: auto;
  height: 300px;
}

/* line 270, ../sass/style.scss */
.sliderFabe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 2s;
}

/* line 280, ../sass/style.scss */
.Showing {
  opacity: 1;
}

/* line 285, ../sass/style.scss */
#prew, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3%;
  padding: 0 10px 0 10px;
  color: #fff;
  font-size: 30px;
  transition: 0.6s ease;
  background: #8184a1;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.5s ease;
}
/* line 298, ../sass/style.scss */
#prew::after, #prew::before, #next::after, #next::before {
  transition: background-color .5s ease;
}

/* line 304, ../sass/style.scss */
#next {
  right: -10px;
  border-radius: 5px 0px 0px 5px;
}
/* line 307, ../sass/style.scss */
#next::before {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  border: 4px solid transparent;
  border-left: 4px solid #8184a1;
  border-bottom: 4px solid #8184a1;
}
/* line 316, ../sass/style.scss */
#next::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  border: 4px solid transparent;
  border-left: 4px solid #8184a1;
  border-top: 4px solid #8184a1;
}
/* line 325, ../sass/style.scss */
#next:hover {
  background: #f88131;
}
/* line 328, ../sass/style.scss */
#next:hover::after {
  border-left: 4px solid  #f88131;
  border-top: 4px solid  #f88131;
}
/* line 332, ../sass/style.scss */
#next:hover::before {
  border-left: 4px solid #f88131;
  border-bottom: 4px solid #f88131;
}

/* line 337, ../sass/style.scss */
#prew {
  left: -10px;
}
/* line 339, ../sass/style.scss */
#prew::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  border: 4px solid transparent;
  border-right: 4px solid #8184a1;
  border-bottom: 4px solid #8184a1;
}
/* line 348, ../sass/style.scss */
#prew::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border: 4px solid transparent;
  border-right: 4px solid #8184a1;
  border-top: 4px solid #8184a1;
}
/* line 357, ../sass/style.scss */
#prew:hover {
  background: #f88131;
}
/* line 360, ../sass/style.scss */
#prew:hover::after {
  border-top: 4px solid #f88131;
  border-right: 4px solid #f88131;
}
/* line 364, ../sass/style.scss */
#prew:hover::before {
  border-right: 4px solid #f88131;
  border-bottom: 4px solid #f88131;
}

/* line 370, ../sass/style.scss */
.slider_text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* line 380, ../sass/style.scss */
.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* line 388, ../sass/style.scss */
.slider-sprite, .slider-sprite_item1, .slider-sprite_item2, .slider-sprite_item3 {
  background-image: url("../img/slider.jpg");
  background-repeat: no-repeat;
}

/* line 393, ../sass/style.scss */
.slider-sprite_item1 {
  background-position: 0 0;
  width: auto;
  height: 300px;
}

/* line 399, ../sass/style.scss */
.slider-sprite_item2 {
  background-position: 0 -304px;
  width: auto;
  height: 300px;
}

/* line 406, ../sass/style.scss */
.slider-sprite_item3 {
  background-position: 0 -608px;
  width: auto;
  height: 300px;
}
